NEXT_PUBLIC_API_URL=http://localhost:55000
NEXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
NEXT_PUBLIC_EXPERIMENTAL_SBAR_VOICE_DICTATION=false
NEXT_PUBLIC_EXPERIMENTAL_SBAR_AI_DICTATION=false
